.footericons_SizeMedium_3-w0R {
height: 22px;
}

.actionbuttonlegenditem_ActionButtonLegend_Mbyhb .actionbuttonlegenditem_ActionButtonLabel_31Jnn {
font-size: 20px;
}

.actionbuttonlegenditem_ActionButtonGlyph_3Jfd8 {
transform: scale(1.2);
padding-right: 5px;
}

.controllerconfiguratorsummary_PillShapedIcon_1zIGH {
transform: scale(1.3);
padding-right: 6px;
}

.actionbuttonlegenditem_FooterGlyphSize_223Oc {
height: 26px;
}
