.gamepadtabbedpage_Tab_3eEbS {
    font-size: 1.3em;
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7:hover .appactivityday_PartnerEventMediumImage_Title_1gljE {
    font-size: 2em;
}

.appactivityday_PartnerEventType_1ujzu {
    font-size: 1.4em; 
}

.appactivityday_PartnerEventMediumImage_Summary_Ru7OB {
    font-size: 1.5em;
}

.partnereventdisplay_InLibraryView_3X6U9 .partnereventdisplay_EventDetailTitle_2_4FS {
    font-size: 2em;
}

.partnereventdisplay_LibraryEventBodyContainer_2ZgLv .partnereventdisplay_EventDetailsBody_3v0cw {
    font-size: 1.5em;
    line-height: 1.3em;
}