.marquee_Content_2ADpT {
    padding-bottom: 2px;
}

.mainmenu_ItemLabel_3x-ZK {
    font-size: 1.4em;
}

.mainmenu_ItemIcon_3xZ3Z {
    transform: scale(1.3);
    padding-right: 6px;
    padding-bottom: 2px;
}