.gamepadpagedsettings_PageListItem_Title_2PPLv {
    font-size: 1.5em;
}

.gamepadpagedsettings_PageListItem_Icon_1F_5Q {
    transform: scale(1.4);
}

.gamepaddialog_GamepadDialogContent_3joNk .DialogHeader {
    font-size: 1.8em;
}

.gamepaddialog_Field_S-_La.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6 .gamepaddialog_FieldLabel_3b0U- {
    font-size: 1.3rem;
}

.gamepaddialog_LabelFieldValue_5Mylh {
    font-size: 1.3em;
}

.basiccontextmenu_contextMenuContents_TBSbv {
    font-size: 1.3rem;
}

.gamepaddialog_FieldLabel_3b0U- {
    inline-size: 40px;
    font-size: 22px;
}

.gamepaddialog_FieldDescription_2OJfk {
    font-size: 1.15rem;
    line-height: 1.4rem;
}

.notificationssettings_NotificationDescription_1ifM6 {
    font-size: 18px;
}

.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogSubHeader {
    font-size: 1.3rem;
    line-height: 1.4em;
}

.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
    font-size: 1.3rem;
}

.gpfocus .dropdownlabel_DropDownLabelUpperDescription_2_JN3 {
    font-size: 1.1rem;
}

.gpfocus .dropdownlabel_DropDownLabelTitle_uDBZW {
    font-size: 1.5rem;
    padding-top: 4px;
    padding-bottom: 3px;
}

.dropdownlabel_DropDownLabelDescription_1JPcb {
    font-size: 1.1rem;
}

.dropdownlabel_DropDownLabelTitle_uDBZW {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
}

.gamepaddialog_Field_S-_La button.gamepaddialog_Button_1kn70.DialogButton.gpfocus,
.gamepaddialog_Field_S-_La button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus,
.gamepaddialog_Field_S-_La button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus,
.gamepaddialog_Field_S-_La button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus,
.gamepaddialog_Field_S-_La button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus {
    font-size: 1.3rem;
}

.gamepadui_BasicUiRoot_gbo6E * {
    line-height: 1.3em;
}

button.gamepaddialog_Button_1kn70.DialogButton,
button.gamepaddialog_Button_1kn70.DialogButton.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover,
button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
    font-size: 1.3rem;
}

.gamepaddialog_FieldDescription_2OJfk {
    line-height: 1.4rem;
}


.notificationssettings_FriendsDescription_3fPiC.notificationssettings_FriendsDescription_3fPiC {
    font-size: 1.1em;
    line-height: 18px;
}

.notificationssettings_ToggleHeader_33Q-M.notificationssettings_ToggleHeader_33Q-M {
    font-size: 1.1em;
}

.contentmanagement_IsSelected_3VQeL .contentmanagement_DriveName_1rihl, .contentmanagement_IsSelected_3VQeL .contentmanagement_DriveSize_5bG9I, .contentmanagement_IsSelected_3VQeL svg {
    font-size: 1.2em;
    line-height: 1.2;
}

.radio_Button_3lwcR {
    font-size:16px;
}

.contentmanagement_InstallFolder_12aBP {
    padding: 4px 24px 4px 4px;
}

.contentmanagement_InstallFolder_12aBP svg {
    margin-right: 16px;
    transform: scale(1.7);
    margin-left: 12px;
}

.contentmanagement_InstallFolder_12aBP .contentmanagement_FolderInfo_2ylO_ svg {
    margin-left: 10px;
}

.contentmanagement_LibraryContent_ybEU2 .contentmanagement_DriveUsage_1LvKJ .contentmanagement_DriveName_1rihl {
    font-size: 1.1em;
    line-height: 1.3em;
}

.contentmanagement_DriveUsageIndicator_1EubJ {
    min-height: 14px;
}

.contentmanagement_DriveUsageText_1DFCG {
    margin-right: 6px;
}

.contentmanagement_DriveUsageText_1DFCG, .contentmanagement_DriveUsageNumber_181OY {
    text-transform: capitalize;
    font-size: 1.1em;
}

.contentmanagement_DriveUsageDot_2jcmN {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW.sortingdropdowncontrolbutton_SortingDropDownControlButton_2ddeJ {
    font-size: 1.8em;
}

.sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW svg {
    height: 20px;
    width: 20px;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppHeader_3_uaa {
    font-size: 1.5em;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppName_YxhO6 {
    font-size: 1.3em;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce .contentmanagement_AppUsageValue_2B8dj {
    font-size: 1.4em;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce svg {
    height: 18px;
    width: 18px;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyRight_3vHX3 .contentmanagement_AppSize_mohK9 {
    font-size: 1.3em;
}

.homesettings_Instructions_1dDcJ.homesettings_Instructions_1dDcJ {
    font-size: 1.15rem;
    line-height: 1.4rem;
}

.BasicUI .contentmanagement_LibraryContent_ybEU2 {
    padding-top: 5px;
}

.DialogContent {
    padding: 10px;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce .contentmanagement_AppInfoItem_1L9a0 {
    font-size: 10px;
}
